<footer class="mt-16">
    <div class="p-8 bg-gradient-to-tr from-slate-950/95 to-slate-900/95">
        <p class="text-center text-xs text-white">© {{ 'now'|date('Y') }}. All rights reserved.</p>
    </div>
</footer>