{% extends 'public/base.html.twig' %}

{% block body %}
    <main class="mx-auto mt-16 w-full max-w-screen-lg grow p-4 lg:mt-32">
        <h1 class="mt-8 text-center text-5xl font-medium text-slate-900 dark:text-slate-300">Articles</h1>
        
        <p class="text-center text-lg font-light text-slate-500 dark:text-slate-400">
            <span class="font-bold">{{ itemCount }}</span> results found for tag <span class="font-medium">#{{ tag }}</span>
        </p>

        {% if articles.getTotalItemCount == 0 %}
            <div class="mx-auto max-w-xl">
                <svg viewBox="0 0 820 821" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-slate-400 dark:fill-slate-500" opacity=".2" d="M631.584 166.422L338.703 140.798C295.789 137.044 257.956 168.789 254.202 211.703L220.734 594.242C216.98 637.156 248.725 674.989 291.639 678.743L584.52 704.367C627.435 708.122 665.267 676.376 669.022 633.462L702.489 250.923C706.244 208.009 674.499 170.176 631.584 166.422Z"/>
                    <path class="fill-slate-200 dark:fill-slate-700" d="M478.42 122.806L188.04 168.798C145.492 175.537 116.463 215.492 123.202 258.04L183.273 637.312C190.012 679.86 229.966 708.889 272.514 702.15L562.895 656.158C605.443 649.419 634.471 609.464 627.732 566.917L567.662 187.644C560.923 145.096 520.968 116.067 478.42 122.806Z"/>
                    <path class="fill-slate-100 dark:fill-slate-600" stroke="#000" stroke-width="5" stroke-opacity=".025" d="M589 140H295C251.922 140 217 174.922 217 218V602C217 645.078 251.922 680 295 680H589C632.078 680 667 645.078 667 602V218C667 174.922 632.078 140 589 140Z"/>
                    <path class="fill-slate-500 dark:fill-slate-700" d="M543 556L565 538L574 549L553 567L543 556Z"/>
                    <path class="fill-slate-300 dark:fill-slate-400" d="M553 567L574 549L584 560L563 578L553 567Z"/>
                    <path class="fill-slate-400 dark:fill-slate-700" d="M555 598C551 594 552 588 556 584L590 555C595 551 601 552 604 556L735 711C740 717 739 727 733 732L706 755C700 760 690 759 685 753L555 598Z"/>
                    <path class="fill-slate-50" d="M599.681 574.75L599.605 574.815C598.166 576.022 597.978 578.166 599.185 579.605L683.455 680.033C684.662 681.471 686.807 681.659 688.245 680.452L688.322 680.388C689.76 679.181 689.948 677.036 688.741 675.598L604.471 575.169C603.264 573.731 601.12 573.543 599.681 574.75Z"/>
                    <path class="fill-slate-300 dark:fill-slate-500" fill-rule="evenodd" clip-rule="evenodd" d="M554 547C571.794 532.029 586.465 513.7 597.176 493.06C607.887 472.419 614.427 449.871 616.423 426.703C618.42 403.535 615.833 380.2 608.812 358.031C601.79 335.863 590.471 315.294 575.5 297.5C560.529 279.706 542.2 265.035 521.56 254.324C500.919 243.613 478.371 237.073 455.203 235.077C432.035 233.08 408.7 235.667 386.531 242.688C364.363 249.71 343.794 261.029 326 276C290.063 306.235 267.609 349.507 263.577 396.297C259.545 443.087 274.265 489.563 304.5 525.5C334.735 561.437 378.007 583.891 424.797 587.923C471.588 591.955 518.063 577.235 554 547V547ZM532 521C561.041 496.6 579.2 461.663 582.482 423.874C585.764 386.086 573.9 348.541 549.5 319.5C525.1 290.459 490.163 272.3 452.374 269.018C414.586 265.736 377.041 277.6 348 302C333.62 314.082 321.761 328.877 313.099 345.542C304.438 362.207 299.143 380.415 297.518 399.126C294.236 436.914 306.1 474.459 330.5 503.5C354.9 532.541 389.837 550.7 427.626 553.982C465.414 557.264 502.959 545.4 532 521V521Z"/>
                    <path class="fill-slate-50" d="M276 449L286 478C286 479 288 480 290 479C291 479 292 477 291 475L282 448C282 446 280 445 279 445C277 446 276 447 276 449ZM310 305C282 339 269 383 273 425C273 427 274 428 276 428C278 428 279 426 279 425C275 384 288 342 315 309V305H310Z"/>
                    <path class="fill-slate-400 dark:fill-slate-700" d="M470 431C473 434 474 438 474 443C473 447 471 451 468 454C464 457 460 458 456 458C451 458 448 456 445 452L437 443C431 436 428 428 429 420L432 396L435 375C435 367 433 361 428 355C423 349 417 346 410 346C403 346 397 349 390 354C385 359 381 364 380 370C379 375 381 381 385 386C387 389 387 393 387 398C386 402 384 405 381 408C378 411 373 412 368 412C364 411 360 409 357 406C352 399 349 392 348 383C348 374 349 365 353 356C357 347 363 339 371 332C385 321 399 315 414 315C429 314 442 320 451 332C460 342 465 353 465 363C465 372 464 382 462 391L459 409C459 414 460 419 463 422L470 431ZM511 499C506 503 501 505 494 504C488 504 484 502 480 498C476 493 475 488 475 482C476 476 479 470 484 466C488 462 494 461 500 461C506 462 511 464 514 469C518 473 519 478 519 484C518 490 516 495 511 499Z"/>
                </svg>
            </div>
        {% endif %}

        <section class="mt-14 flex flex-col gap-8">
            {% include '_global/_article_list.html.twig' with { 'articles': articles } %}
        </section>
        <div class="mt-4">
            {{ knp_pagination_render(articles, 'public/_partials/_pagination.html.twig') }}
        </div>
    </main>
{% endblock %}
