{% extends 'base.html.twig' %}

{% set title = "Create new Category" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="mx-auto mt-16 w-full max-w-screen-lg grow p-4">
        <div class="flex flex-col-reverse sm:flex-row justify-between items-center">
            <h1 class="my-12 text-center text-5xl font-medium text-slate-900 font-rajdhani inline-flex">{{ title }}</h1>
            <div class="self-center">
                <a class="rounded bg-slate-50 px-4 py-2 font-medium transition hover:bg-slate-600 hover:text-white text-sm" href="{{ path('app_category_index') }}">Back to Categories</a>
            </div>
        </div>

        <div>
            {{ include('category/_form.html.twig') }}
        </div>
    </main>
{% endblock %}