/* ===============================
=            Choices            =
=============================== */
.choices {
    position: relative;
    overflow: hidden;
    font-size: 16px;
}

.choices.is-open {
    overflow: visible;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    margin-right: -4px;
    padding-left: 16px;
    @apply rounded-full transition hover:bg-red-400;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z'/%3E%3C/svg%3E");
    background-size: 12px;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;
    @apply flex flex-col-reverse;
}

.choices__list--multiple .choices__item {
    @apply inline-flex items-center rounded-md border border-indigo-400/50 bg-indigo-200 px-2 py-1 text-xs font-medium text-indigo-700 gap-x-0.5;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    @apply invisible z-1 !top-16 absolute bg-slate-50 !w-full md:w-1/3 my-0 mx-auto shadow-md border border-slate-400 dark:border-slate-600 overflow-hidden;
    top: 100%;
    word-break: break-all;
    will-change: visibility;
}

.is-active.choices__list--dropdown, .is-active.choices__list[aria-expanded] {
    visibility: visible;
    @apply rounded;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;

}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    @apply bg-indigo-200 dark:bg-indigo-200 dark:text-slate-900;
}

.choices__item--selectable {
    cursor: pointer;
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.choices__button:focus {
    outline: none;
}

.choices__input {
    @apply my-4 w-full rounded border border-slate-300 bg-slate-100 text-slate-900 shadow p-2.5 dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100;
}

.choices__input.choices__input--cloned {
    width: 100% !important;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
    @apply bg-slate-100 dark:bg-slate-900 dark:text-slate-100;
}

.choices__list.choices__list--multiple {
    @apply flex flex-wrap gap-x-2 overflow-auto max-h-[100px] gap-y-1.5;
}