:root {
    --badge-fg: #ffffff;
    --badge-bg: #928f9e;
}

/* Customize webkit ugly scrollbar */
::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-500 hover:bg-gradient-to-r hover:from-blue-500 hover:to-indigo-500;
}

html {
    scroll-padding-top: 9rem;
}

[x-cloak] {
    @apply !hidden;
}

.clr-field {
    input {
        @apply !text-[#505050];
    }

    button {
        @apply shadow-none !-mt-px after:!rounded-full !cursor-pointer !bg-none;
    }

    button:after {
        @apply shadow border-2 cursor-pointer left-0 !top-1/2 !h-[70%] -translate-y-1/2;
    }
}

.editor-preview.editor-preview-active {
    @apply p-8;
}

#article-content, .editor-preview-active, .editor-preview-active-side {
    @apply text-slate-900 dark:text-slate-300;

    h1 {
        @apply mt-10 mb-4 text-4xl;
    }

    h2 {
        @apply mt-8 mb-4 text-3xl;
    }

    h3 {
        @apply mt-6 mb-4 text-2xl;
    }

    h4 {
        @apply mt-6 mb-4 text-xl;
    }

    h5, h6 {
        @apply my-4 text-lg;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-medium font-rajdhani relative text-slate-900 dark:text-slate-300 cursor-default
        before:content-[''] before:block before:absolute before:w-1/3 before:h-1 before:-bottom-1 before:left-0
        before:bg-gradient-to-r before:from-slate-100 before:to-slate-500
        dark:before:bg-gradient-to-r dark:before:from-slate-800 dark:before:to-slate-500
        before:origin-top-left before:transition-all before:duration-300 before:ease-out
        before:scale-x-[20%] hover:before:scale-x-100;
    }

    blockquote {
        @apply my-4 rounded border border-blue-400/10 border-l-blue-600/60 bg-gradient-to-br from-blue-400/20 to-indigo-400/20 p-4 text-sm border-l-6;

        p {
            @apply mb-4 last:mb-0;
        }

        ol, ul {
            @apply first:mt-0;
        }

        pre {
            @apply border-0 bg-gradient-to-br from-blue-100 to-indigo-100 shadow;
        }
    }

    pre {
        @apply my-6 overflow-hidden bg-gradient-to-br
        from-blue-400/10 to-indigo-400/10 text-gray-500
        dark:from-blue-300 dark:to-indigo-300 dark:text-gray-100
        border border-slate-200 dark:border-slate-800 rounded-md
        shadow-md dark:shadow-slate-950/40
        last:m-0;
    }

    ul {
        @apply mt-4 list-inside marker:text-slate-500 list-[disclosure-closed] dark:marker:text-slate-500;
    }

    ol {
        @apply mt-4 list-inside list-decimal marker:text-slate-500 dark:marker:text-slate-500;
    }

    li p {
        @apply m-0;
    }

    li ul, li ol {
        @apply m-0 pl-4;
    }

    a {
        @apply relative z-1 p-0.5
        before:content-[''] before:absolute before:left-0 before:bottom-0 before:w-full before:h-[3px] before:-z-1
        before:transition-all before:bg-gradient-to-r before:from-blue-400/30 before:to-indigo-400/30
        hover:before:bottom-0 hover:before:h-full after:text-indigo-300;
    }

    .fn-ref, .fn-backref {
        @apply px-1 text-base text-blue-400 transition before:content-none hover:text-yellow-600 dark:hover:text-yellow-400;
    }

    .footnotes {
        @apply text-sm;

        ol > li {
            @apply list-inside;
        }

        ol > li > p {
            @apply inline-block;
        }

        hr {
            @apply mt-8 h-px border-0 bg-gradient-to-r from-transparent via-indigo-400 to-transparent;
        }
    }

    h1.group, h2.group, h3.group, h4.group, h5.group, h6.group {
        a {
            @apply mr-1 before:hidden font-extralight opacity-30 transition-all duration-300 ease-out;
        }
    }

    h1.group:hover, h2.group:hover, h3.group:hover, h4.group:hover, h5.group:hover, h6.group:hover {
        a {
            @apply font-semibold text-indigo-500 opacity-100;
        }
    }

    hr {
        @apply my-8 h-px border-0 bg-gradient-to-r from-transparent via-indigo-400 to-transparent;
    }

    .heading-permalink {
        @apply mr-2;
    }

    iframe.video {
        @apply mx-auto aspect-video w-full max-w-2xl;
    }

    mark {
        @apply bg-yellow-300 px-1;
    }

    ol, ul {
        code {
            @apply bg-gradient-to-r from-blue-400/30 to-indigo-400/30 p-0.5 dark:from-blue-500/30 dark:to-indigo-500/30;
        }
    }

    p {
        @apply mb-4 last:mb-0;

        code {
            @apply bg-gradient-to-r from-blue-400/30 to-indigo-400/30 p-0.5 dark:from-blue-500/30 dark:to-indigo-500/30;
        }
    }

    input[type=checkbox] {
        @apply rounded border-indigo-200 text-indigo-500 border dark:border-0 checked:opacity-100 [&:not(checked)]:opacity-60;
    }

    .table-overflow {
        @apply relative my-6 overflow-x-auto rounded shadow-md;
    }

    table {
        @apply w-full text-sm;

        thead {
            @apply bg-gradient-to-br from-blue-500/30 to-indigo-500/30 text-left uppercase text-slate-900 dark:text-slate-100;

            th {
                @apply px-4 py-3;
            }
        }

        tbody {

            tr {
                @apply border-b border-b-slate-300 bg-slate-200 text-slate-900 transition
                hover:bg-gradient-to-br hover:from-blue-500/10 hover:to-indigo-500/10
                dark:border-b-slate-700 dark:bg-slate-900 dark:text-slate-200 dark:hover:bg-gradient-to-br
                dark:hover:from-blue-500/20 dark:hover:to-indigo-500/20;

                td {
                    @apply whitespace-nowrap px-4 py-2;
                }
            }
        }
    }

    dl {
        dt {
            @apply font-medium;
        }

        dd {
            @apply ml-2 font-light italic;
        }
    }
}

.dark .bg-squares {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.bg-squares {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}