.hljs, .editor-preview-active-side pre code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background: rgb(255 255 255 / 0.3);
  color: #585656;
}

.hljs::selection,
.hljs ::selection {
  background-color: #d6d6d6;
  color: #4d4d4c;
}

.hljs-comment,
.hljs-quote {
  color: #9daec8;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #ce76e9;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e95762;
}

.hljs-literal {
  color: #17a8ba;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #3f8b0c;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c77c36;
}

.hljs-number {
  color: #ff8700;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #2e92e6;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #846ae9;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/*
Dark Theme:
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
*/

html.dark {
  .hljs, .editor-preview-active-side pre code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    background-color: rgb(2 6 23 / 0.9);
    color: #b2b2b2;
  }

  .hljs::selection,
  .hljs ::selection {
    background-color: rgb(147 197 253);
    color: rgb(2 6 23);
  }

  .hljs-comment,
  .hljs-quote {
    color: #5c6370;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #c678dd;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #5edded;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string {
    color: #98c379;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo  {
    color: #d19a66;
  }

  .hljs-number {
    color: #ff8700;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61aeee;
  }

  .hljs-built_in,
  .hljs-title.class_,
  .hljs-class .hljs-title {
    color: #e6c07b;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
}
