{% extends 'admin/base.html.twig' %}

{% block body %}
    <main class="mx-auto w-full max-w-screen-lg grow p-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad deleniti distinctio dolore ea eius eos iusto libero minima nam nihil officiis possimus quos reprehenderit saepe sint, totam veniam vero?</p>
    </main>
{% endblock %}
