<footer>
    <div class="bg-slate-600 p-8 transition dark:bg-slate-950">
        <p class="text-center text-xs text-white">© {{ 'now'|date('Y') }}. Ressources Book - All rights reserved.</p>
    </div>
</footer>