<!DOCTYPE html>
<html lang="en"
      x-data="{ darkMode: localStorage.getItem('dark') === 'true'}"
      x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
      :class="{ 'dark': darkMode }"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}RessourceBook - {% block title %}{% endblock %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/img/favicon.svg') }}" type="image/svg+xml">

    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}

    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>
<body class="relative flex flex-col min-h-[100dvh] bg-slate-300 dark:bg-slate-900 transition-colors max-w-screen-qhd">
<div aria-hidden="true" class="bg-squares -z-1 absolute inset-x-0 h-[50rem] [mask-image:linear-gradient(0deg,transparent,black)]"></div>
{% include 'public/_partials/navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'public/_partials/footer.html.twig' %}
</body>
</html>
