<!DOCTYPE html>
<html lang="en"
      x-data="{ darkMode: localStorage.getItem('dark') === 'true'}"
      x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
      :class="{ 'dark': darkMode }"
>
<head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}RessourceBook - {% block title %}{% endblock %}{% endblock %}</title>

    <link rel="icon" href="{{ asset('assets/img/favicon.svg') }}" type="image/svg+xml">

    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}

    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>
<body class="flex flex-col min-h-[100dvh] bg-slate-300 max-w-screen-qhd">
{% include 'public/_partials/navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'public/_partials/footer.html.twig' %}
</body>
</html>
